
.h1{
    font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 8px rgb(40, 16, 137);
  

  }

  .nav-item{
    font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 8px rgb(40, 16, 137);
  
   
  }
.h5{
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 8px rgb(40, 16, 137);
}


.navbar-brand{
  font-family: 'Lobster', cursive;

}

/*Codigo para la política de cookies*/
 
 
 
/* CSS para la animación y localización de los DIV de cookies */
 
@keyframes desaparecer
{
0%		{bottom: 0px;}
80%		{bottom: 0px;}
100%		{bottom: -50px;}
}
 
@-webkit-keyframes desaparecer /* Safari and Chrome */
{
0%		{bottom: 0px;}
80%		{bottom: 0px;}
100%		{bottom: -50px;}
}
 
@keyframes aparecer
{
0%		{bottom: -38px;}
10%		{bottom: 0px;}
90%		{bottom: 0px;}
100%		{bottom: -38px;}
}
 
@-webkit-keyframes aparecer /* Safari and Chrome */
{
0%		{bottom: -38px;}
10%		{bottom: 0px;}
90%		{bottom: 0px;}
100%		{bottom: -38px;}
}
#cookiesms1:target {
    display: none;
}
.cookiesms{	
	width:100%;
	height:43px;
	margin:0 auto;
	padding-left:1%;
        padding-top:5px;
        font-size: 1.2em;
	clear:both;
        font-weight: strong;
color: #333;
bottom:0px;
position:fixed;
left: 0px;
background-color: #FFF;
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
transition: bottom 1s;
-webkit-transition:bottom 1s; /* Safari */
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
z-index:999999999;
}
 
.cookiesms:hover{
bottom:0px;
}
.cookies2{
background-color: #FFF;
display:inline;
opacity:0.95;
filter:alpha(opacity=95);
position:absolute; 
left:1%; 
top:-30px;
font-size:15px;
height:30px;
padding-left:25px;
padding-right:25px;
-webkit-border-top-right-radius: 15px;
-webkit-border-top-left-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-topleft: 15px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
-webkit-box-shadow: 3px -3px 1px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    3px -3px 1px rgba(50, 50, 50, 0.56);
box-shadow:         3px -3px 1px rgba(50, 50, 50, 0.56);
}
 
/* Fin del CSS para cookies */
 

/* Move down content because we have a fixed navbar that is 50px tall */
.body {
  padding-top: 10px;
  padding-bottom: 10px;
}



.carousel-inner img {
    width: 100%;
    max-height: 100%;
}

.carousel-inner{
 height: 100%;

}

.section-title{

  font-family: 'Lobster', cursive;

}

.page-footer{
  background-color: rgb(40, 16, 137);
  font-family: 'Lobster', cursive;

}




        .gris{
        
            background:  rgb(40, 16, 137);
            ;
             border-radius: 3px;
             

          
        }

        .item {
      display: block;
      width: 100%;
      height: 200px;

}
.item img {
      height: 100%;
      width: 100%;
}
       

img.humilias{
width: 300px;
border-left:-150px;

}

img.humiliasbig{
width: 350px;
border-left:-150px;

}


/* Scroll Personalizado */

body::-webkit-scrollbar {
  width: 10px;
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgb(85, 61, 183);
  border-radius: 900px;
  border-right: 4px solid rgb(85, 61, 183);
}




